services:
  db:
    image: postgres:15
    restart: always
    env_file: ../.env
    volumes:
      - ./postgres_data:/var/lib/postgresql/data

  backend:
    build:
      context: ../mineral-shop-backend
      dockerfile: Dockerfile
    command: gunicorn shop_backend.wsgi:application --bind 0.0.0.0:8000
    env_file: ../.env
    depends_on:
      - db
    volumes:
      - ./media:/app/media

  frontend:
    build:
      context: ../mineral-shop-frontend
      dockerfile: Dockerfile
    depends_on:
      - backend

  nginx:
    image: nginx:alpine
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      - ./certbot/conf:/etc/letsencrypt
      - ./certbot/www:/var/www/certbot
      - ./media:/media
    depends_on:
      - backend
      - frontend

  certbot:
    image: certbot/certbot
    volumes:
      - ./certbot/conf:/etc/letsencrypt
      - ./certbot/www:/var/www/certbot